#!/bin/bash

tmadmin <<EOF
crdl -b 500000 -z {{ tuxedo_queue_path }}
crlog -m {{ tuxedo_logical_machine_id }}
EOF

qmadmin /home/{{ tuxedo_user }}/queues/{{ tuxedo_queue_space_device }} <<EOF
qspacecreate
QSPACE
{{ tuxedo_service_config[tuxedo_user].queue_space_ipc_key }}
300000
10
20
20
750
ERRORQ
y
16
qopen QSPACE
qcreate
LCQ0111
fifo
none
10
30
80%
10%
/bin/touch /var/log/{{ tuxedo_user }}/lcq0111_capacity
qcreate
LCQ0112
fifo
none
10
30
80%
10%
/bin/touch /var/log/{{ tuxedo_user }}/lcq0112_capacity
qcreate
ERRORQ
fifo
none
10
30
80%
10%
/bin/touch /var/log/{{ tuxedo_user }}/errorq_capacity
qcreate
IMAN_Cre
fifo
none
10
30
80%
10%
/bin/touch /var/log/{{ tuxedo_user }}/imancre_capacity
qcreate
IMAN_Upd
fifo
none
10
30
80%
10%
/bin/touch /var/log/{{ tuxedo_user }}/imanupd_capacity
qclose
EOF
