{{ tuxedo_logs_path }}/*/*.log {
  daily
  copytruncate
  compress
  maxage 7
  maxsize 1G
  missingok
  notifempty
  olddir old
  rotate 20
  createolddir 0755 root root
}

{{ tuxedo_logs_path }}/*/ULOG.* {{ tuxedo_logs_path }}/*/trlog.* {{ tuxedo_logs_path }}/*/txlog.* {
  daily
  copytruncate
  compress
  maxage 93
  maxsize 1800M
  missingok
  notifempty
  olddir old
  rotate 20
  createolddir 0755 root root
  lastaction
    /bin/find /var/log/tuxedo -maxdepth 2 -name 'ULOG.*' -o -name 'trlog.*' -o -name 'txlog.*' -mtime +1 -size 0 -delete
  endscript
}
